#newTask {
    font-size: 25px;
}

.buttons {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

#newItemForm {
    display: none;
    text-align: center;
    position: fixed;
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
    background-color: lightgray;
    background-repeat: repeat;
    border: 2px solid black;
    padding-top: 50px;
    padding-bottom: 25px;
    top: 200px;
}

#tasksList {
    position: absolute;
    right: 10;
    top: 50;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#editWindow {
    display: none;
    text-align: center;
    position: fixed;
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
    background-color: lightgray;
    background-repeat: repeat;
    border: 2px solid black;
    padding-top: 50px;
    padding-bottom: 25px;
    top: 300px;
}

#hungerBarBack {
    height: 50px;
    background-color: #404040;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: none;
}

#hungerBar {
    height: 100%;
    width: 100%;
    background-color: #FF0000;
}

#stats {
/*    position: absolute;*/
    left: 10px;
    top: 10px;
}

.stat {
    font-size: 25px;
}
#petContainer {
    position: fixed;
    height: 600px;
    width: 600px;
    margin-left: 200px;
    margin-top: 100px;
}

#pet {
    position: relative;
    top: 50%;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.edit {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
}

.inputs {
    font-size: 25px;
    padding-top: 20px;
}

.gameContent {
    position: relative;
    float: right;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 1000px;
    height: 800px;
}
#menuBarContainer {
    width: 200px;
    height: 800px;
    float: left;
}
#menuBar {
    height: 800px;
    border-right: 3px solid black;
}
#homeButton {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.menuItem {
    font-size: 50px;]
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}
#defaultPage {
    display: block;
}
#tasksPage {
    display: none;
}
#goalsPage {
    display: none;
}
#statsPage {
    display: none;
}
#settingsPage {
    display: none;
}